<!DOCTYPE html>
<html>
<head>
  <title>UHS Forums</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <ul class="nav">
      <li class="nav-item"><a href="/"><i class="fa fa-home fa-fw"></i>home</a></li>
      <li class="nav-item"><a href="/groups"><i class="fa fa-users fa-fw"></i>groups</a></li>
      <li class="nav-item"><a href="/recent"><i class="fa fa-camera-retro fa-fw"></i>recent</a></li>
      <li class="nav-item">
        <%= link_to current_user do %>
          <i class="fa fa-user fa-fw"></i>account
        <% end %>
      </li>
      <li class="nav-item"><a href="/contact"><i class="fa fa-envelope fa-fw"></i>contact</a></li>
      <% if logged_in? %>
        <li class="nav-item" id="logout"><%= link_to "logout", logout_path, method: :delete %></li>
      <% else %>
        <li class="nav-item" id="login"><%= link_to "login", login_path %></a></li>
      <% end %>
      <% if !current_user.nil? && current_user.admin %>
        <li class="nav-item"><%= link_to new_user_path do %>
          <i class="fa fa-plus fa-fw"></i>create user
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <%= yield %>
</body>
</html>
